.tooltip-table > table tr > td:first-of-type {
  max-width: 300px;
  white-space: normal;
}
.tooltip-table > table td {
  padding: 5 1;
  vertical-align: top;
}
code.variable-description {
  font-size: 0.8em;
  display: inline-block;
  padding: 5px;
}
