.tooltip-table>table tr>td:first-of-type{white-space:normal;max-width:300px}.tooltip-table>table td{vertical-align:top;padding:5px 1px}code.variable-description{padding:5px;font-size:.8em;display:inline-block}
